{"openapi":"3.0.1","info":{"title":"order-manager","description":"API order-manager","contact":{"name":"Илья Календарев","email":"kilyaser@gmail.com"},"version":"1.0.0"},"servers":[{"url":"http://order-manager.ru","description":"dev server"},{"url":"http://62.113.104.3:8081","description":"id address server"},{"url":"http://localhost:8081","description":"localhost server"}],"tags":[{"name":"payment-ui-api","description":"Контроллер для управления позициями заказами"},{"name":"material-ui-api","description":"Контроллер для управления материалами"},{"name":"order-ui-api","description":"Контроллер для управления заказами"},{"name":"order-item-api","description":"Контроллер для управления позициями заказами"},{"name":"task-ui-api","description":"Контроллер для уравления задачами"},{"name":"contract-ui-api","description":"Контроллер для управления договорами"},{"name":"counterparty-ui-api","description":"Контроллер для управления информации об контрагентов"},{"name":"product-ui-api","description":"Контроллер для управления информации о изделиях."},{"name":"admin-constraint-api","description":"Контролер для получения информации об ограничениях функционала."}],"paths":{"/api/v1/ui/tasks":{"put":{"tags":["task-ui-api"],"description":"Изменить признак завершения задачи","operationId":"complectedTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCompletedRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiTask"}}}}}},"post":{"tags":["task-ui-api"],"description":"Добавить задачу к заказу","operationId":"addTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateTaskRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiTask"}}}}}},"patch":{"tags":["task-ui-api"],"description":"Изменить опесание заказа","operationId":"updateTask","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateTaskRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiTask"}}}}}}},"/api/v1/ui/products":{"put":{"tags":["product-ui-api"],"description":"Обновить информацию изделия","operationId":"updateProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProductRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProduct"}}}}}},"post":{"tags":["product-ui-api"],"description":"Создать изделие.","operationId":"createProduct","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateProductRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProduct"}}}}}}},"/api/v1/ui/payments":{"put":{"tags":["payment-ui-api"],"description":"Обновить информацию по платежу","operationId":"updatePayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePaymentRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiPayment"}}}}}},"post":{"tags":["payment-ui-api"],"description":"Добавить платеж по заказу","operationId":"addPayment","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreatePaymentRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiPayment"}}}}}}},"/api/v1/ui/orders":{"put":{"tags":["order-ui-api"],"description":"Обновить инофрмацию о заказе","operationId":"updateOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrder"}}}}}},"post":{"tags":["order-ui-api"],"description":"Создание заказа.","operationId":"createOrder","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateOrderRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrder"}}}}}}},"/api/v1/ui/orders/{orderId}":{"get":{"tags":["order-ui-api"],"description":"Получить заказ по id","operationId":"getOrderById","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrder"}}}}}},"put":{"tags":["order-ui-api"],"description":"Изменить позицию заказа","operationId":"changeOrderSate","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"state","in":"query","required":true,"schema":{"type":"string","enum":["NEW","IN_WORK","READY","SHIPPED","COMPLETED","CANCELLED"]}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrder"}}}}}},"delete":{"tags":["order-ui-api"],"description":"Удаление заказа по id","operationId":"deleteOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/machines":{"put":{"tags":["cnc-machine-api"],"description":"Обновить информацию по станку","operationId":"updateMachine","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateMachineRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiMachine"}}}}}},"post":{"tags":["cnc-machine-api"],"description":"Создать станок","operationId":"createMachine","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMachineRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiMachine"}}}}}}},"/api/v1/ui/items":{"put":{"tags":["order-item-api"],"description":"Обновить позиции заказа","operationId":"updateOrderItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateOrderItemRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrderItems"}}}}}},"post":{"tags":["order-item-api"],"description":"Добавить позиции в зказа","operationId":"addOrderItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AddOrderItemsRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiOrderItems"}}}}}},"delete":{"tags":["order-item-api"],"description":"Удалить позицию заказа","operationId":"deleteOrderItems","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteOrderItemRequest"}}},"required":true},"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/counterparties":{"put":{"tags":["counterparty-ui-api"],"description":"Обновить информацию о контрагенте","operationId":"updateCounterparty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateCounterpartyRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiCounterparty"}}}}}},"post":{"tags":["counterparty-ui-api"],"description":"Создание контрагента","operationId":"createCounterparty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateCounterpartyRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiCounterparty"}}}}}}},"/api/v1/ui/products/search":{"post":{"tags":["product-ui-api"],"description":"Поиск изделий по наименованию","operationId":"searchProducts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProducts"}}}}}}},"/api/v1/ui/products/page":{"post":{"tags":["product-ui-api"],"description":"Получить страницу изделний","operationId":"getProductPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiProduct"}}}}}}},"/api/v1/ui/products/find":{"post":{"tags":["product-ui-api"],"description":"Поиск изделий по наименованию с пагинацией","operationId":"findProductByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiProduct"}}}}}}},"/api/v1/ui/payments/page":{"post":{"tags":["payment-ui-api"],"description":"Получить страницу платежей","operationId":"getPaymentPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiPaymentShort"}}}}}}},"/api/v1/ui/payments/counterparty/{counterpartyId}":{"post":{"tags":["payment-ui-api"],"description":"Получить все платежи по контрагенту","operationId":"findAllPaymentByCounterparty","parameters":[{"name":"counterpartyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiPaymentShort"}}}}}}},"/api/v1/ui/orders/{counterpartyId}":{"post":{"tags":["order-ui-api"],"description":"Получиение всех заказав по Контрегенту","operationId":"getAllOrdersByCounterparty","parameters":[{"name":"counterpartyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiOrderShort"}}}}}}},"/api/v1/ui/orders/page":{"post":{"tags":["order-ui-api"],"description":"Получение страницы заказов","operationId":"getOrdersPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiOrderShort"}}}}}}},"/api/v1/ui/materials":{"post":{"tags":["material-ui-api"],"description":"Создание материала.","operationId":"createMaterial","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateMaterialRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiMaterial"}}}}}}},"/api/v1/ui/counterparties/search":{"post":{"tags":["counterparty-ui-api"],"description":"Поиск контрагентов по наименованию","operationId":"searchCounterparty","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiCounterparties"}}}}}}},"/api/v1/ui/counterparties/page":{"post":{"tags":["counterparty-ui-api"],"description":"Получить страницу контрагентов","operationId":"getCounterpartyPage","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiCounterpartyShort"}}}}}}},"/api/v1/ui/counterparties/find":{"post":{"tags":["counterparty-ui-api"],"description":"Поиск контрагентов по наименованию с пагинацией","operationId":"findCounterpartyByFilter","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PageUiCounterpartyShort"}}}}}}},"/api/v1/ui/contracts":{"post":{"tags":["contract-ui-api"],"description":"Создать договор","operationId":"createContract","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateContractRequest"}}},"required":true},"responses":{"201":{"description":"Created","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiContract"}}}}}}},"/api/v1/ui/tasks/{taskId}":{"get":{"tags":["task-ui-api"],"description":"Получить задачу по ID","operationId":"getTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiTask"}}}}}},"delete":{"tags":["task-ui-api"],"description":"Удалить задачу по ID","operationId":"deleteTask","parameters":[{"name":"taskId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/tasks/order/{orderId}":{"get":{"tags":["task-ui-api"],"description":"Получить задачи по заказу","operationId":"getTasksByOrderId","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UiTask"}}}}}}}},"/api/v1/ui/products/{productId}":{"get":{"tags":["product-ui-api"],"description":"Получить информацию об изделии.","operationId":"getProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiProduct"}}}}}},"delete":{"tags":["product-ui-api"],"description":"Удалить продукт","operationId":"deleteProduct","parameters":[{"name":"productId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/payments/{paymentId}":{"get":{"tags":["payment-ui-api"],"description":"Получить платеж по id","operationId":"getPayment","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiPayment"}}}}}},"delete":{"tags":["payment-ui-api"],"description":"Удалить платеж","operationId":"deletePayment","parameters":[{"name":"paymentId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/payments/orders/{orderId}":{"get":{"tags":["payment-ui-api"],"description":"Полчить все платежи по заказу","operationId":"getAllPaymentByOrder","parameters":[{"name":"orderId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/UiPaymentShort"}}}}}}}},"/api/v1/ui/materials/{materialId}":{"get":{"tags":["material-ui-api"],"description":"Получение материала по id","operationId":"getMaterialById","parameters":[{"name":"materialId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiMaterial"}}}}}}},"/api/v1/ui/machines/{machineId}":{"get":{"tags":["cnc-machine-api"],"description":"Поиск станка по id","operationId":"getMachine","parameters":[{"name":"machineId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiMachine"}}}}}},"delete":{"tags":["cnc-machine-api"],"description":"Удалить станок по id","operationId":"deleteMachine","parameters":[{"name":"machineId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/counterparties/{counterpartyId}":{"get":{"tags":["counterparty-ui-api"],"description":"Поиск контрагента по id","operationId":"getCounterparty","parameters":[{"name":"counterpartyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiCounterparty"}}}}}},"delete":{"tags":["counterparty-ui-api"],"description":"Удалить контрагента","operationId":"deleteCounterparty","parameters":[{"name":"counterpartyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}}}},"/api/v1/ui/contracts/{counterpartyId}":{"get":{"tags":["contract-ui-api"],"description":"Получить договоры по контрагенты","operationId":"getByCounterparty","parameters":[{"name":"counterpartyId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiContracts"}}}}}}},"/api/v1/ui/contracts/{contractId}":{"get":{"tags":["contract-ui-api"],"description":"Поиск договора по ID","operationId":"getContract","parameters":[{"name":"contractId","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UiContract"}}}}}}},"/api/v1/ui/admin/constraints":{"get":{"tags":["admin-constraint-api"],"description":"Получить информацию об ограничениях.","operationId":"getConstraints","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdminConstraint"}}}}}}}},"components":{"schemas":{"TaskCompletedRequest":{"required":["taskId"],"type":"object","properties":{"taskId":{"maxLength":36,"type":"string","description":"Идентификатор задачи.","format":"uuid"},"completed":{"type":"boolean","description":"Признак завершения задачи."}},"description":"TaskCompletedRequest"},"UiTask":{"required":["description","id","isCompleted"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"Идентификатор задачи.","format":"uuid"},"description":{"maxLength":255,"type":"string","description":"Описание задачи."},"isCompleted":{"type":"boolean","description":"Признак завершения задачи."},"completedDate":{"maxLength":10,"type":"string","description":"Дата завершения задачи","format":"date"}},"description":"UiTask"},"ProductFieldsPatch":{"required":["productName"],"type":"object","properties":{"productName":{"maxLength":255,"type":"string","description":"Наименование изделия"}},"description":"Обновленные атрибуты продукта"},"UpdateProductRequest":{"required":["patch","productId"],"type":"object","properties":{"productId":{"maxLength":36,"type":"string","description":"id изделия","format":"uuid"},"patch":{"$ref":"#/components/schemas/ProductFieldsPatch"}}},"UiProduct":{"required":["productId","productName"],"type":"object","properties":{"productId":{"maxLength":36,"type":"string","description":"id изделия","format":"uuid"},"productName":{"maxLength":255,"type":"string","description":"Наименование изделия"}},"description":"UiProduct"},"PaymentFieldsPatch":{"type":"object","properties":{"paymentSum":{"type":"number","description":"Сумма платежа."},"paymentDate":{"type":"string","description":"Дата платежа.","format":"date"}}},"UpdatePaymentRequest":{"required":["patch","paymentId"],"type":"object","properties":{"paymentId":{"maxLength":36,"type":"string","description":"Идентификатор платежа.","format":"uuid"},"patch":{"$ref":"#/components/schemas/PaymentFieldsPatch"}}},"UiCounterpartyShort":{"required":["id","inn","name"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"id контрагента","format":"uuid"},"inn":{"maxLength":255,"type":"string","description":"ИНН Контрагента"},"name":{"maxLength":255,"type":"string","description":"Краткое наименование контрагента"}},"description":"UiCounterpartyShort"},"UiOrderShort":{"required":["orderId"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"orderName":{"maxLength":255,"type":"string","description":"Наименование заказа."},"orderNumber":{"maxLength":255,"type":"string","description":"Номер заказа."},"currentSum":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма заказа с НДС."},"totalPrice":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма заказа без НДС."},"orderState":{"maxLength":255,"type":"string","description":"Статус заказа.","enum":["NEW","IN_WORK","READY","SHIPPED","COMPLETED","CANCELLED"]},"createdDate":{"type":"string","description":"Дата создания заказа.","format":"date"},"completionDate":{"maxLength":19,"minLength":19,"type":"string","description":"Дата завершеня заказа.","format":"date"},"isGovernmentOrder":{"type":"boolean","writeOnly":true},"counterpartyName":{"type":"string","description":"Наименование контрагента"},"governmentOrder":{"type":"boolean"}},"description":"UiOrderShort"},"UiPayment":{"required":["paymentId","paymentSum"],"type":"object","properties":{"counterparty":{"$ref":"#/components/schemas/UiCounterpartyShort"},"order":{"$ref":"#/components/schemas/UiOrderShort"},"modifiedDate":{"type":"string","description":"Дата последнего изменения.","format":"date"},"paymentId":{"maxLength":36,"type":"string","description":"id платежа.","format":"uuid"},"paymentSum":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма платежа."},"paymentDate":{"maxLength":19,"minLength":19,"type":"string","description":"Дата платежа.","format":"date"}},"description":"UiPayment"},"OrderFieldsPatch":{"type":"object","properties":{"orderName":{"maxLength":255,"type":"string","description":"Наименование заказа."},"billNumber":{"maxLength":255,"type":"string","description":"Номер счета."},"completionDate":{"maxLength":19,"minLength":19,"type":"string","description":"Дата завершеня заказа.","format":"date-time"},"isGovernmentOrder":{"type":"boolean","description":"Признак государственного заказа"},"isVatInclude":{"type":"boolean","description":"Признак влкючения НДС в стоимость."}},"description":"Обновленные атрибуты заказа"},"UpdateOrderRequest":{"required":["id","patch"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"patch":{"$ref":"#/components/schemas/OrderFieldsPatch"}}},"UiContract":{"required":["contractId","contractNumber","counterparty","status"],"type":"object","properties":{"contractId":{"maxLength":36,"type":"string","description":"Идентификатор контракта","format":"uuid"},"contractNumber":{"maxLength":255,"type":"string","description":"Номер договора"},"contractDate":{"maxLength":10,"type":"string","description":"Дата договора","format":"date"},"startDate":{"maxLength":10,"type":"string","description":"Дата, с которой договор вступает в силу","format":"date"},"endDate":{"maxLength":10,"type":"string","description":"Дата окончания действия договора","format":"date"},"counterparty":{"$ref":"#/components/schemas/UiCounterpartyShort"},"status":{"maxLength":255,"type":"string","description":"Статус договора","enum":["ACTIVE","COMPLETED","SUSPENDED","TERMINATED"]},"notes":{"maxLength":255,"type":"string","description":"Примечания"}},"description":"UiContract"},"UiMachine":{"required":["id"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"Идентификатор станка с ЧПУ.","format":"uuid"},"machineType":{"type":"string","description":"Тип станка с ЧПУ.","enum":["THREE_AXIS","FIVE_AXIS"]},"name":{"maxLength":255,"type":"string","description":"Наименование станка с ЧПУ."},"isOccupied":{"type":"boolean","writeOnly":true},"order":{"$ref":"#/components/schemas/UiOrderShort"},"orderItem":{"$ref":"#/components/schemas/UiOrderItem"},"occupied":{"type":"boolean"}},"description":"UiMachine"},"UiMaterial":{"required":["id"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"id материала.","format":"uuid"},"materialType":{"maxLength":255,"type":"string","description":"Тип материала."}},"description":"UiMaterial"},"UiOrder":{"required":["debtSum","modifiedDate","orderId","vat"],"type":"object","properties":{"billNumber":{"maxLength":255,"type":"string","description":"Номер счета."},"isVatInclude":{"type":"boolean","writeOnly":true},"vat":{"type":"number","description":"Сумма НДС."},"debtSum":{"type":"number","description":"Сумма долга."},"modifiedDate":{"type":"string","description":"Дата последнего изменения.","format":"date"},"counterparty":{"$ref":"#/components/schemas/UiCounterpartyShort"},"author":{"type":"string","description":"Логин пользователя создавшего заказ."},"orderItems":{"type":"array","items":{"$ref":"#/components/schemas/UiOrderItem"}},"payments":{"type":"array","items":{"$ref":"#/components/schemas/UiPaymentShort"}},"tasks":{"type":"array","items":{"$ref":"#/components/schemas/UiTask"}},"contract":{"$ref":"#/components/schemas/UiContract"},"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"orderName":{"maxLength":255,"type":"string","description":"Наименование заказа."},"orderNumber":{"maxLength":255,"type":"string","description":"Номер заказа."},"currentSum":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма заказа с НДС."},"totalPrice":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма заказа без НДС."},"orderState":{"maxLength":255,"type":"string","description":"Статус заказа.","enum":["NEW","IN_WORK","READY","SHIPPED","COMPLETED","CANCELLED"]},"createdDate":{"type":"string","description":"Дата создания заказа.","format":"date"},"completionDate":{"maxLength":19,"minLength":19,"type":"string","description":"Дата завершеня заказа.","format":"date"},"counterpartyName":{"type":"string","description":"Наименование контрагента"},"vatInclude":{"type":"boolean"},"governmentOrder":{"type":"boolean"}},"description":"UiOrder"},"UiOrderItem":{"maxLength":500,"required":["currentSum","id","preparationState","pricePerProduct","productType","quantity","quantityShipped","totalPrice","vat"],"type":"object","properties":{"id":{"type":"string","description":"Идентификор позиции заказа.","format":"uuid"},"product":{"$ref":"#/components/schemas/UiProduct"},"quantity":{"type":"integer","description":"Колличество изделий.","format":"int32"},"quantityShipped":{"type":"integer","description":"Колличество отгруженных позиций.","format":"int32"},"pricePerProduct":{"type":"number","description":"Стоимость на одно изделие."},"totalPrice":{"type":"number","description":"Общая стоимость изделия без НДС."},"currentSum":{"type":"number","description":"Общая стоимость изделия c НДС."},"isVatInclude":{"type":"boolean","writeOnly":true},"vat":{"type":"number","description":"Сумма НДС."},"productType":{"type":"string","description":"Тип изделия.","enum":["NEW","REPEAT","CHANGE","NOT_MAKE","COOPERATION"]},"isProgramWritten":{"type":"boolean","writeOnly":true},"machines":{"type":"array","description":"id станка.","items":{"$ref":"#/components/schemas/UiMachine"}},"completionDate":{"type":"string","description":"Дата завершения изготовления.","format":"date-time"},"preparationState":{"type":"string","description":"Статус готовности изделия.","enum":["NOT_STARTED","IN_PROCESS","DONE"]},"material":{"$ref":"#/components/schemas/UiMaterial"},"vatInclude":{"type":"boolean"},"programWritten":{"type":"boolean"}},"description":"UiOrderItem"},"UiPaymentShort":{"maxLength":500,"required":["paymentId","paymentSum"],"type":"object","properties":{"paymentId":{"maxLength":36,"type":"string","description":"id платежа.","format":"uuid"},"paymentSum":{"maximum":9223372036854775807,"minimum":0,"type":"number","description":"Сумма платежа."},"paymentDate":{"maxLength":19,"minLength":19,"type":"string","description":"Дата платежа.","format":"date"},"counterparty":{"$ref":"#/components/schemas/UiCounterpartyShort"}},"description":"UiPaymentShort"},"UpdateMachineRequest":{"required":["machineId"],"type":"object","properties":{"machineId":{"maxLength":36,"type":"string","description":"id станка.","format":"uuid"},"machineType":{"type":"string","description":"Тип станка с ЧПУ.","enum":["THREE_AXIS","FIVE_AXIS"]},"name":{"maxLength":255,"type":"string","description":"Наименование станка с ЧПУ."}},"description":"UpdateMachineRequest"},"OrderItemFieldsPatch":{"maxLength":500,"required":["itemId"],"type":"object","properties":{"itemId":{"type":"string","description":"Идентификор позиции заказа.","format":"uuid"},"productId":{"maxLength":36,"type":"string","description":"id изделия","format":"uuid"},"quantity":{"minimum":0,"type":"integer","description":"Колличество изделий.","format":"int32"},"quantityShipped":{"minimum":0,"type":"integer","description":"Колличество отгруженных позиций.","format":"int32"},"pricePerProduct":{"minimum":0,"type":"number","description":"Стоимость на одно изделие."},"isVatInclude":{"type":"boolean","description":"Признак влкючения НДС в стоимость."},"productType":{"type":"string","description":"Тип изделия.","enum":["NEW","REPEAT","CHANGE","NOT_MAKE","COOPERATION"]},"machineId":{"type":"string","description":"id станка.","format":"uuid"},"completionDate":{"type":"string","description":"Дата завершения изготовления.","format":"date-time"},"preparationState":{"type":"string","description":"Статус готовности изделия.","enum":["NOT_STARTED","IN_PROCESS","DONE"]},"materialId":{"type":"string","description":"Id материала.","format":"uuid"}},"description":"Позиции заказа."},"UpdateOrderItemRequest":{"required":["orderId","patch"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"patch":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemFieldsPatch"}}}},"UiOrderItems":{"required":["orderId"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"orderItems":{"type":"array","items":{"$ref":"#/components/schemas/UiOrderItem"}}},"description":"UiOrderItems"},"CounterpartyFieldsPatch":{"type":"object","properties":{"fullName":{"maxLength":255,"type":"string","description":"Полное наименование контрагента"},"name":{"maxLength":255,"type":"string","description":"Краткое наименование контрагента"},"inn":{"maxLength":255,"type":"string","description":"ИНН контрагента"},"email":{"maxLength":255,"type":"string","description":"е-mail контрагента"},"phone":{"maxLength":255,"pattern":"^\\+\\d{5,15}$","type":"string","description":"Контактный телефон контрагента"}},"description":"Обновленные атрибуты контрагента"},"UpdateCounterpartyRequest":{"required":["id","patch"],"type":"object","properties":{"id":{"maxLength":36,"type":"string","description":"id контрагента","format":"uuid"},"patch":{"$ref":"#/components/schemas/CounterpartyFieldsPatch"}}},"UiCounterparty":{"required":["id","inn","name"],"type":"object","properties":{"fullName":{"maxLength":255,"type":"string","description":"Полное наименование контрагента."},"email":{"maxLength":255,"type":"string","description":"е-mail контрагента."},"phone":{"maxLength":255,"type":"string","description":"Контактный телефон контрагента."},"contracts":{"type":"array","items":{"$ref":"#/components/schemas/UiContract"}},"id":{"maxLength":36,"type":"string","description":"id контрагента","format":"uuid"},"inn":{"maxLength":255,"type":"string","description":"ИНН Контрагента"},"name":{"maxLength":255,"type":"string","description":"Краткое наименование контрагента"}},"description":"UiCounterparty"},"CreateTaskRequest":{"required":["orderId"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"Идентификатор заказа.","format":"uuid"},"description":{"maxLength":255,"type":"string","description":"Описание задачи"}},"description":"CreateTaskRequest"},"CreateProductRequest":{"required":["productName"],"type":"object","properties":{"productName":{"maxLength":255,"type":"string","description":"Наименование изделия"}},"description":"CreateProductRequest"},"SearchRequest":{"required":["search"],"type":"object","properties":{"search":{"maxLength":255,"type":"string","description":"Строка поиска"}},"description":"SearchRequest"},"UiProducts":{"type":"object","properties":{"products":{"type":"array","items":{"$ref":"#/components/schemas/UiProduct"}}},"description":"UiProducts"},"PageRequest":{"type":"object","properties":{"page":{"minimum":0,"type":"integer","description":"Номер страницы","format":"int32","default":0},"size":{"minimum":1,"type":"integer","description":"Размер страницы","format":"int32","default":20}},"description":"PageRequest"},"PageUiProduct":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UiProduct"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"PageableObject":{"type":"object","properties":{"offset":{"type":"integer","format":"int64"},"sort":{"$ref":"#/components/schemas/SortObject"},"pageSize":{"type":"integer","format":"int32"},"pageNumber":{"type":"integer","format":"int32"},"paged":{"type":"boolean"},"unpaged":{"type":"boolean"}}},"SortObject":{"type":"object","properties":{"empty":{"type":"boolean"},"unsorted":{"type":"boolean"},"sorted":{"type":"boolean"}}},"FilterRequest":{"type":"object","properties":{"search":{"maxLength":255,"type":"string","description":"Строка поиска"},"pageRequest":{"$ref":"#/components/schemas/PageRequest"}},"description":"ProductFilter"},"CreatePaymentRequest":{"required":["counterpartyId","orderId","paymentSum"],"type":"object","properties":{"counterpartyId":{"maxLength":36,"type":"string","description":"id контрагента.","format":"uuid"},"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"paymentSum":{"type":"number","description":"Сумма платежа."},"paymentDate":{"type":"string","description":"Дата платежа.","format":"date"}},"description":"CreatePaymentRequest"},"PageUiPaymentShort":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UiPaymentShort"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"CreateOrderRequest":{"required":["counterpartyId","isGovernmentOrder"],"type":"object","properties":{"orderName":{"maxLength":255,"type":"string","description":"Наименование заказа"},"completionDate":{"maxLength":19,"minLength":19,"type":"string","description":"Плановая дата завершения","format":"date-time"},"isGovernmentOrder":{"type":"boolean","description":"Признак государственного заказа"},"isVatInclude":{"type":"boolean","description":"Признак включения НДС в стоимсть"},"counterpartyId":{"maxLength":36,"type":"string","description":"Id контрагента заказчик","format":"uuid"},"itemRequests":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemRequest"}}},"description":"CreateOrderRequest"},"OrderItemRequest":{"maxLength":500,"required":["productId"],"type":"object","properties":{"productId":{"maxLength":36,"type":"string","description":"Id изделие (детали)","format":"uuid"},"productType":{"maxLength":255,"type":"string","description":"Тип изделия.","enum":["NEW","REPEAT","CHANGE","NOT_MAKE","COOPERATION"]},"quantity":{"type":"integer","description":"Количество изделий.","format":"int32"},"quantityShipped":{"type":"integer","description":"Колличество отгруженных позиций.","format":"int32"},"pricePerProduct":{"type":"number","description":"Стоимость за одну позицию."},"totalPrice":{"type":"number","description":"Стоимсть всей позиции."},"isVatInclude":{"type":"boolean","writeOnly":true},"isProgramWritten":{"type":"boolean","writeOnly":true},"machineId":{"type":"string","description":"id станка.","format":"uuid"},"preparationState":{"type":"string","description":"Статус готовности изделия.","enum":["NOT_STARTED","IN_PROCESS","DONE"]},"completionDate":{"type":"string","description":"Дата завершения изготовления.","format":"date-time"},"materialId":{"type":"string","description":"Id материала детали.","format":"uuid"},"vatInclude":{"type":"boolean"},"programWritten":{"type":"boolean"}},"description":"OrderItemRequest"},"PageUiOrderShort":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UiOrderShort"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"CreateMaterialRequest":{"required":["materialType"],"type":"object","properties":{"materialType":{"maxLength":255,"type":"string","description":"Тип материала."}},"description":"CreateMaterialRequest"},"CreateMachineRequest":{"required":["machineType","name"],"type":"object","properties":{"machineType":{"type":"string","description":"Тип станка с ЧПУ.","enum":["THREE_AXIS","FIVE_AXIS"]},"name":{"maxLength":255,"type":"string","description":"Наименование станка с ЧПУ."}},"description":"CreateMachineRequest"},"AddOrderItemsRequest":{"required":["itemsRequest","orderId"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"itemsRequest":{"type":"array","items":{"$ref":"#/components/schemas/OrderItemRequest"}}}},"CreateCounterpartyRequest":{"required":["name"],"type":"object","properties":{"fullName":{"maxLength":255,"type":"string","description":"Полное наименование контрагента"},"name":{"maxLength":255,"type":"string","description":"Краткое наименование контрагента"},"inn":{"maxLength":255,"type":"string","description":"ИНН контрагента"},"email":{"maxLength":255,"type":"string","description":"е-mail контрагента"},"phone":{"maxLength":255,"pattern":"^\\+\\d{5,15}$","type":"string","description":"Телефон контрагента"}},"description":"CreateCounterpartyRequest"},"UiCounterparties":{"type":"object","properties":{"counterparties":{"type":"array","items":{"$ref":"#/components/schemas/UiCounterpartyShort"}}},"description":"UiCounterparties"},"PageUiCounterpartyShort":{"type":"object","properties":{"totalPages":{"type":"integer","format":"int32"},"totalElements":{"type":"integer","format":"int64"},"size":{"type":"integer","format":"int32"},"content":{"type":"array","items":{"$ref":"#/components/schemas/UiCounterpartyShort"}},"number":{"type":"integer","format":"int32"},"sort":{"$ref":"#/components/schemas/SortObject"},"first":{"type":"boolean"},"last":{"type":"boolean"},"numberOfElements":{"type":"integer","format":"int32"},"pageable":{"$ref":"#/components/schemas/PageableObject"},"empty":{"type":"boolean"}}},"CreateContractRequest":{"required":["contractNumber","counterpartyId","status"],"type":"object","properties":{"contractNumber":{"maxLength":255,"type":"string","description":"Номер договора"},"contractDate":{"maxLength":10,"type":"string","description":"Дата договора","format":"date"},"startDate":{"maxLength":10,"type":"string","description":"Дата, с которой договор вступает в сил","format":"date"},"endDate":{"maxLength":10,"type":"string","description":"Дата окончания действия договора","format":"date"},"status":{"maxLength":255,"type":"string","description":"Статус договора","enum":["ACTIVE","COMPLETED","SUSPENDED","TERMINATED"]},"counterpartyId":{"maxLength":36,"type":"string","description":"Идентификатор контрагента","format":"uuid"},"notes":{"maxLength":255,"type":"string","description":"Примечания к договору"}},"description":"CreateContractRequest"},"UpdateTaskRequest":{"required":["description","taskId"],"type":"object","properties":{"taskId":{"maxLength":36,"type":"string","description":"Идентификатор задачи.","format":"uuid"},"description":{"maxLength":255,"type":"string","description":"Описание задачи"}},"description":"UpdateTaskRequest"},"UiContracts":{"type":"object","properties":{"contracts":{"type":"array","items":{"$ref":"#/components/schemas/UiContract"}}},"description":"UiContracts"},"AdminConstraint":{"type":"object","properties":{"isAllowViewRoles":{"type":"boolean","writeOnly":true},"isAllowViewAdminConsole":{"type":"boolean","writeOnly":true},"allowViewAdminConsole":{"type":"boolean"},"allowViewRoles":{"type":"boolean"}},"description":"AdminConstraint"},"DeleteOrderItemRequest":{"required":["deleteItemIds","orderId"],"type":"object","properties":{"orderId":{"maxLength":36,"type":"string","description":"id заказа.","format":"uuid"},"deleteItemIds":{"uniqueItems":true,"type":"array","items":{"maxLength":500,"type":"string","description":"id позиций для удаления.","format":"uuid"}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}